<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/imports :: imports(title=${'Calculate Equation'})}"><title></title></head>
<body>
<div>
    <div th:replace="~{fragments/header :: header(module=${'calculate'})}"></div>
    <h3 class="text-center" th:if="${errorMessage != null}" th:text="${errorMessage}">error message</h3>
    <h3 class="text-center" th:if="${successMessage != null}" th:text="${successMessage}">success message</h3>
    <form class="container" th:if="${equationReference != null}"
          th:action="@{'/calculate/' + ${equationReference.reference}}" action="#"
          th:object="${equationCalculationForm}"
          method="post">
        <div>
            <h1 th:text="${equationReference.name}">equation name</h1>
            <h4 th:text="${equationReference.description}">equation description</h4>
        </div>
        <div>
            <h5 class="fw-bold">Instructions:</h5>
            <div>
                <p>
                    Input the values for each known variable in the text fields below. Leave the field for the
                    unknown value empty. The calculator will dynamically find the value of the blank variable.
                </p>

                <div>Each text field supports numbers in the following format: '123u45'</div>
                <div>'123' is the known number</div>
                <p>'45' is the number's uncertainty</p>

                <p>
                    Numbers without uncertainty are also accepted in the standard format: '123'
                </p>
            </div>
        </div>

        <div>
            <p th:text="${'$$ ' + equationLatex + ' $$'}">visual equation representation</p>
        </div>

        <div th:each="equationVariableName : ${equationVariables.keySet()}">
            <label>
                <span class="fw-bold" th:text="${equationVariableName}">variable name:</span>
                <input type="text" th:field="*{equationVariableValues['__${equationVariableName}__']}"/>
            </label>
            <p th:text="${equationVariables.get(equationVariableName)}">variable description</p>
        </div>

        <div>
            <input type="submit" value="Submit"/>
            <input type="reset" value="Reset"/>
        </div>

        <div class="text-center" th:if="${equationCalculationForm.calculatedAnswer != null}">
            <span class="fw-bold">Answer:</span>
            <p th:text="${equationCalculationForm.calculatedAnswer.first} + ': ' + ${equationCalculationForm.calculatedAnswer.second}">variable: value</p>
        </div>
    </form>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>