<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/imports :: imports(title=${'Calculate Equation'})}"><title></title></head>
<body>
<div>
    <div th:replace="~{fragments/header :: header(module=${'calculate'})}"></div>
    <h3 class="text-center" th:if="${errorMessage != null}" th:text="${errorMessage}">error message</h3>
    <form class="container" th:if="${equationReference != null}"
          th:action="@{'/calculate/' + ${equationReference}}" action="#"
          th:object="${equationCalculationForm}"
          method="post">
        <div>
            <h1 th:text="${equationReference.name}">equation name</h1>
            <h4 th:text="${equationReference.description}">equation description</h4>
        </div>

        <div th:each="equationVariableName : ${equationVariables.keySet()}">
            <label>
                <span class="fw-bold" th:text="${equationVariableName}">variable name:</span>
                <input type="text" th:field="*{equationVariableValues['__${equationVariableName}__']}"/>
            </label>
            <p th:text="${equationVariables.get(equationVariableName)}">variable description</p>
        </div>

        <div>
            <input type="submit" value="Submit"/>
            <input type="reset" value="Reset"/>
        </div>
    </form>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>