<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculation Selection</title>

    <!-- css -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>

    <!-- js -->
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div th:if="${#maps.isEmpty(equationCategories)}">
        <h3>No equations available for selection.</h3>
    </div>
    <div th:each="equationCategory : ${equationCategories.keySet()}">
        <h3 th:text="${equationCategory}">category name</h3>
        <div th:each="equationReference : ${equationCategories.get(equationCategory)}">
            <div th:text="${equationReference}">equation reference</div>
        </div>
    </div>
</div>
</body>
</html>